<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Raspberry Pi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<html>
<body>

<br/>
<a href="javascript:history.back()">&lt; Go Back</a>
&nbsp;
<a href="/">Página Principal</a> 
&nbsp;
<a href="/aumentar_num_senhas">Pedir Senha</a>
&nbsp;
<a href="/aumentar_num_atendidos">Número Atual</a>
&nbsp;
<a href="/ver_meu_pin">Qual o meu pin?</a>
&nbsp;
<a href="/esta_quase">Sou atendido a seguir?</a>
&nbsp;
<a href="/arduino_mandou_id">Criação de túpulo (nº senha, nº guichê)</a>
<br/>

{% block content %}{% endblock %}

</body>
</html>